# Wind Power Generation Forecasting

pip install pandas numpy scikit-learn matplotlib seaborn

In [24]:
# importing all the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [25]:
#Load the csv(Dataset) files
location1 = pd.read_csv('Location1.csv')
location2 = pd.read_csv('Location2.csv')
location3 = pd.read_csv('Location3.csv')
location4 = pd.read_csv('Location4.csv')

In [26]:
#See the location1
location1.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793

In [27]:
# Add a new column to identify the location
location1['Location'] = 'Location1'
location2['Location'] = 'Location2'
location3['Location'] = 'Location3'
location4['Location'] = 'Location4'

# Concatenate the dataframes into one
merged_data = pd.concat([location1, location2, location3, location4], ignore_index=True)

In [28]:
# Display the first few rows of the merged dataset
print(merged_data.head())

                  Time  temperature_2m  relativehumidity_2m  dewpoint_2m  \
0  2017-01-02 00:00:00            28.5                   85         24.5
1  2017-01-02 01:00:00            28.4                   86         24.7
2  2017-01-02 02:00:00            26.8                   91         24.5
3  2017-01-02 03:00:00            27.4                   88         24.3
4  2017-01-02 04:00:00            27.3                   88         24.1

   windspeed_10m  windspeed_100m  winddirection_10m  winddirection_100m  \
0           1.44            1.26                146                 162
1           2.06            3.99                151                 158
2           1.30            2.78                148                 150
3           1.30            2.69                 58                 105
4           2.47            4.43                 58                  84

   windgusts_10m   Power   Location
0            1.4  0.1635  Location1
1            4.4  0.1424  Location1
2            3.2  0.1214  Location1
3            1.6  0.1003  Location1
4            4.0  0.0793  Location1

In [30]:
# Save the merged dataset to a new CSV file
merged_data.to_csv('merged_location.csv', index=False)

In [29]:
# To see the basic information about the dataset
# To see the basic information about the dataset
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175200 entries, 0 to 175199
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Time                 175200 non-null  object
 1   temperature_2m       175200 non-null  float64
 2   relativehumidity_2m  175200 non-null  int64
 3   dewpoint_2m          175200 non-null  float64
 4   windspeed_10m        175200 non-null  float64
 5   windspeed_100m       175200 non-null  float64
 6   winddirection_10m    175200 non-null  int64
 7   winddirection_100m   175200 non-null  int64
 8   windgusts_10m        175200 non-null  float64
 9   Power                175200 non-null  float64
 10  Location             175200 non-null  object
dtypes: float64(6), int64(3), object(2)
memory usage: 14.7+ MB

# Check the statistics of dataset
merged_data.describe().T

In [31]:
# Check the missing values
merged_data.isnull().sum()

Time                   0
temperature_2m         0
relativehumidity_2m    0
dewpoint_2m            0
windspeed_10m          0
windspeed_100m         0
winddirection_10m      0
winddirection_100m     0
windgusts_10m          0
Power                  0
Location               0
dtype: int64

In [42]:
#To check the duplicated rows
merged_data.duplicated().sum()

0

In [32]:
# Encode categorical variable 'Location'
# Encode categorical variable 'Location'
merged_data = pd.get_dummies(merged_data, columns=['Location'], drop_first=True)

# Check the result
# Check the result after encoding
print(merged_data.head())

                  Time  temperature_2m  relativehumidity_2m  dewpoint_2m  \
0  2017-01-02 00:00:00            28.5                   85         24.5
1  2017-01-02 01:00:00            28.4                   86         24.7
2  2017-01-02 02:00:00            26.8                   91         24.5
3  2017-01-02 03:00:00            27.4                   88         24.3
4  2017-01-02 04:00:00            27.3                   88         24.1

   windspeed_10m  windspeed_100m  winddirection_10m  winddirection_100m  \
0           1.44            1.26                146                 162
1           2.06            3.99                151                 158
2           1.30            2.78                148                 150
3           1.30            2.69                 58                 105
4           2.47            4.43                 58                  84

   windgusts_10m   Power  Location_Location2  Location_Location3  \
0            1.4  0.1635               False               False
1            4.4  0.1424               False               False
2            3.2  0.1214               False               False
3            1.6  0.1003               False               False
4            4.0  0.0793               False               False

   Location_Location4
0               False
1               False
2               False
3               False
4               False

In [33]:
merged_data.columns

Index(['Time', 'temperature_2m', 'relativehumidity_2m', 'dewpoint_2m',
       'windspeed_10m', 'windspeed_100m', 'winddirection_10m',
       'winddirection_100m', 'windgusts_10m', 'Power', 'Location_Location2',
       'Location_Location3', 'Location_Location4'],
      dtype='object')

In [34]:
# Let us remove time col
# Let us check and remove the 'Time' column if it exists
if 'Time' in merged_data.columns:
    merged_data.drop('Time', axis=1, inplace=True)